<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <%= htmlWebpackPlugin
    .tags
    .headTags
    .filter((tag) => tag.tagName === 'meta')
    .join('') 
  %>
</head>

<body>
  <%= require(`html-loader?{"attributes":{"list":[{"tag":"img","attribute":"data-src","type":"src"},{"tag":"img","attribute":"src","type":"src"}]}}!./body.html`)  %>
  
  <%= htmlWebpackPlugin
    .tags
    .headTags
    .filter((tag) => tag.tagName !== 'meta')
    .join('') 
  %>
  <%= htmlWebpackPlugin.tags.bodyTags %>
</body>

</html>


