@font-face {font-family: "gosunyun";
  src: url('iconfont.eot?t=1602428101020'); /* IE9 */
  src: url('iconfont.eot?t=1602428101020#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1602428101020') format('woff'),
  url('iconfont.ttf?t=1602428101020') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1602428101020#gosunyun') format('svg'); /* iOS 4.1- */
}

.gosunyun {
  font-family: "gosunyun" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wx-cc-top:before {
  content: "\e6a9";
}

.wx-icon_loading2:before {
  content: "\e6cd";
}

.wx-icon_search:before {
  content: "\e759";
}

.wx-icon_loading:before {
  content: "\e62b";
}

.wx-icon_screen:before {
  content: "\e74a";
}

.wx-icon_return_mini:before {
  content: "\e74b";
}

.wx-icon_hide:before {
  content: "\e74c";
}

.wx-icon_show:before {
  content: "\e74d";
}

.wx-icon_skip:before {
  content: "\e74e";
}

.wx-icon_drop_down:before {
  content: "\e74f";
}

.wx-icon_up:before {
  content: "\e750";
}

.wx-icon_down:before {
  content: "\e751";
}

.wx-icon_left:before {
  content: "\e752";
}

.wx-icon_right:before {
  content: "\e753";
}

.wx-icon_reset:before {
  content: "\e754";
}

.wx-icon_rise:before {
  content: "\e755";
}

.wx-icon_lower:before {
  content: "\e756";
}

.wx-icon_increase:before {
  content: "\e757";
}

.wx-icon_reduce:before {
  content: "\e758";
}

.wx-icon_robot_m2:before {
  content: "\e71e";
}

.wx-icon_robot_a2:before {
  content: "\e71f";
}

.wx-icon_robot_f1:before {
  content: "\e720";
}

.wx-icon_robot_m1:before {
  content: "\e721";
}

.wx-icon_robot_a1:before {
  content: "\e722";
}

.wx-icon_electricity_0:before {
  content: "\e723";
}

.wx-icon_electricity_10:before {
  content: "\e724";
}

.wx-icon_electricity_20:before {
  content: "\e725";
}

.wx-icon_electricity_30:before {
  content: "\e726";
}

.wx-icon_electricity_40:before {
  content: "\e727";
}

.wx-icon_electricity_50:before {
  content: "\e728";
}

.wx-icon_electricity_60:before {
  content: "\e729";
}

.wx-icon_electricity_70:before {
  content: "\e72a";
}

.wx-icon_electricity_80:before {
  content: "\e72b";
}

.wx-icon_electricity_90:before {
  content: "\e72c";
}

.wx-icon_electricity_100:before {
  content: "\e72d";
}

.wx-icon__radiation:before {
  content: "\e72e";
}

.wx-icon__radiation1:before {
  content: "\e72f";
}

.wx-icon_frequency:before {
  content: "\e730";
}

.wx-icon_mileage:before {
  content: "\e731";
}

.wx-icon_neutron:before {
  content: "\e732";
}

.wx-icon_time:before {
  content: "\e733";
}

.wx-icon_online:before {
  content: "\e734";
}

.wx-icon_temperature:before {
  content: "\e735";
}

.wx-icon_humidity:before {
  content: "\e736";
}

.wx-icon__radiation2:before {
  content: "\e737";
}

.wx-icon_ozone:before {
  content: "\e738";
}

.wx-icon_moving:before {
  content: "\e739";
}

.wx-icon_noise:before {
  content: "\e73a";
}

.wx-icon_scram:before {
  content: "\e73b";
}

.wx-icon_offline:before {
  content: "\e73c";
}

.wx-icon_uv_lamp:before {
  content: "\e73d";
}

.wx-icon_default_avatar:before {
  content: "\e73e";
}

.wx-icon_home:before {
  content: "\e73f";
}

.wx-icon_alarm:before {
  content: "\e740";
}

.wx-icon_report:before {
  content: "\e741";
}

.wx-icon_mine:before {
  content: "\e742";
}

.wx-icon_return_white:before {
  content: "\e743";
}

.wx-icon_play_mini:before {
  content: "\e744";
}

.wx-icon_pause:before {
  content: "\e745";
}

.wx-icon_return:before {
  content: "\e746";
}

.wx-icon_full_screen:before {
  content: "\e747";
}

.wx-icon_narrow_screen:before {
  content: "\e748";
}

.wx-icon_scan_code:before {
  content: "\e749";
}

